.twitter {
	margin: 1em 0;
	clear: left;
}

.twitter .header
{
	background: #A0DEED;
	height: 2.5em;
	margin: 1em 0 0 0;
}

.twitter .header a 
{
	padding: 0;
	background: none;
}

.twitter .header img
{
	height: 1.6em;
	padding: 0.5em;
}

.twitter ul {
	list-style: none;
}

.twitter li {
	clear: left;
}

.twitter .shadow
{
	float:left;
	margin: 0.6em 0 0.3em 0.8em !important;
	margin: 0.3em 0 0.3em 0.4em;
	background: url("../images/shadow.png") no-repeat bottom right !important; /*IE Hack*/
	background: url("../images/shadow.gif") no-repeat bottom right;
}

.twitter .shadow .container
{
	  display: block;
		position: relative;
		margin: -6px 6px 6px -6px;
		padding: 0.5em;
		//padding-bottom: 1.5em;
		background-color: #fff;
	  border-color: #a9a9a9;
	  border: 1px solid #a9a9a9;
}

.twitter .tweet {
	width: 16em;
}

.twitter .tweet .timestamp {
	font-weight: bold;
}
